@import url("/src/css/fonts.css");
/* Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn";
}
/* root variable */
:root {
  --color-secondary-200: #696969;
  --color-secondary-100: rgb(243, 244, 246);
  --color-secondary-50:#FFFFFF;
  --color-secondary-0: #AFCEDD;

  --color-primary-50:#234894 ;
  --color-primary-0: #219F95;

  --border-radius-lg: 9px;

  --font-size-s: 1.2rem;
  --font-size-m: 1.5rem;
  --font-size-l: 1.8rem;

  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-strong: 900;
}

body{
  background-color: var(--color-secondary-100);
}

html {
  font-size: 62.5%;
}
h1{
  margin: 2rem;
  white-space: nowrap;
}
.block{
  max-width: 2400px;
  margin: 0 auto;
}

.request-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem;
}
.card{
  background-color:var(--color-secondary-50);
  flex:1 0 100%;
  padding: 2rem;
  margin-right: 1rem;
  border-radius: var(--border-radius-lg);
  transition: all 0.2s ease-out;
  box-shadow:0 0 10px 2px rgba(0, 0, 0, .1);
  
}
.card:hover{
  box-shadow:var(--color-secondary-50);
  transform: scale(1.05);
}

@media screen and (min-width:767px){
  .card{
    flex: 1 0 47%;

  }
}
@media screen and (min-width:1180px){
  .card{
    flex: 1 0 31%;
  }
}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upload{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upload-number{
  background-color:var(--color-secondary-0);
  color:var(--color-primary-100) ;
  font-size: var(--font-size-l);
  padding: 0.7rem  1.5rem;
  border-radius: 6px;
  height: 40px;
  width: 40px;

}
.upload-documents{
  color: var(--color-primary-50);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  margin-right: 2rem;
}
.date{
  color: var(--color-secondary-200);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-normal);
}

.request-id{
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-strong);
  margin-top: 2rem;
}
.request-number{
  color: var(--color-secondary-200);
  font-size: var(--font-size-s);
  margin: 0.5rem;
}

.card-body {
  display: flex;
  align-items: center;
  margin-top: 0;
  justify-content: space-between;
}
 .slide-img img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-left: 2rem;
  border-radius: 8px; 
}
.name{
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  margin-left: 3rem;
  white-space: nowrap;
}
.btn{
  outline:none;
  width: 80%;
  height: auto;
  border: 0;
  background-color:var(--color-primary-0) ;
  border-radius: 8px;
  padding: 1.7rem;
  cursor: pointer;
}
.btn a{
  text-decoration: none;
  color:var(--color-secondary-50) ;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
  white-space: nowrap;
}
